In [ ]:
# Q1. Write a program to calculate the electricity bill using only if statement? (accept number of unit from user\) according to the following criteria:
# Unit Price
# First 100 units no charge
# Next 100 units Rs 5 per unit
# After 200 units Rs 10 per unit
# (For example, if input unit is 350 than total bill amount is Rs2000). Lets explain...
# For first 100 no charges
# Now you have 250 unit remaining
# 100-200 you need to pay – 100*5 = 500
# Now 200-100 you need to pay 150*10 = 1500
# Total = 500+1500 = 2000

In [3]:
# Accept number of units from 
units = int(input("Enter the number of units consumed: "))
bill = 0
# First 100 units are free

if units <= 100:
    bill = 0

# Next 100 units are charged at Rs 5 per unit

if units > 100 and units <= 200:
    bill = (units - 100) * 5

# Units beyond 200 are charged at Rs 10 per unit

if units > 200:
    bill = (100 * 5) + ((units - 200) * 10)

print("Your total electricity bill is Rs:",bill,"₹")

Enter the number of units consumed:  657

Your total electricity bill is Rs: 5070 ₹

<!-- Q2. Write a program to accept percentage from the user and display
the grade according to the following criteria:
Marks Grade
> 90 A
> 80 and <= 90 B
>= 60 and <= 80 C
below 60 D -->

In [10]:
# accept percentage from the student
percentage=(float(input("enter your percentage")))
if percentage > 90:
    grade = "A"
if percentage > 80 and percentage <= 90:
    grade = "B"
if percentage >= 60 and percentage <= 80:
    grade = "C"
if percentage < 60:
    grade = "D"
print("your  is:",grade)

enter your percentage 54

your Grade is: D

In [ ]:
#Q3. Accept the age of 4 people and display the youngest one?

In [16]:
# Accept the age from the people
age_person1=int(input("Enter your Age1: "))
age_person2=int(input("Enter your Age2: "))
age_person3=int(input("Enter your Age3: "))
age_person4=int(input("Enter your Age4: "))
# assume the youngest is person1
youngest=age_person1

if age_person2< youngest:
    youngest=age_person2

if age_person3<youngest:
    youngest=age_person3

if age_person4<youngest:
    youngest=age_person4

print("The youngest age is:",youngest)

Enter your Age1:  32
Enter your Age2:  12
Enter your Age3:  26
Enter your Age4:  76

The youngest age is: 12

In [ ]:
# Q4. A company decided to give bonus to employee
# according to following criteria:

# Time period of Service Bonus

# More than 10 years 10%

# >=6 and <=10 8%

# Less than 6 years 5%

# Ask user for their salary and years of service and print the net bonus amount?

In [20]:
# accept usre for their salary and years of service and print the net bonus ammount.

salary=(float(input("Enter your Salary: ")))
year_of_service=(int(input("Enter Your Year Of Service")))

if year_of_service > 10:
    bonus = salary*0.10
if year_of_service >= 6 and year_of_service <=10:
    bonus = salary * 0.08
if year_of_service <= 6:
    bonus = salary * 0.05

print("The Net Bonus Ammount: ",bonus)

Enter your Salary:  24000
Enter Your Year Of Service 3

The Net Bonus Ammount:  1200.0

In [ ]:
# Q5. Accept three numbers from the user and display the second largest number?

In [ ]:
# accept the numbers from the users
number1=(int(input("Enter the number1")))
number2=(int(input("Enter the number2")))
number3=(int(input("Enter the number3")))

# assume number1 is the 
 if number1>number2 and number3<number2:
     number2 is the second largest

In [ ]:
# Q6. Accept the marked price from the user and calculate
# the Net amount as (Marked Price – Discount) to pay
# according to following criteria:

# Marked Price Discount
# >10000 20%
# >7000 and <=10000 15%
# <=7000 10%

In [ ]:
# Accept the marked price from the user
marked_price = float(input("Enter the marked price: "))

discount = 0

if marked_price > 10000:
    discount = marked_price * 0.20

if marked_price > 7000 and marked_price <= 10000:
    discount = marked_price * 0.15

if marked_price <= 7000:
    discount = marked_price * 0.10
    
net_amount = marked_price - discount

print("Discount applied: Rs", discount)
print("Net amount to be paid: Rs", net_amount)

# Q7. Accept the marks of English, Math and Science,
# Social Studies Subject and display the stream allotted
# according to following:

# All Subjects more than 80 marks — Science Stream

# English >80 and Math, Science above 50 — Commerce Stream

# English > 80 and social studies > 80 — Humanities

In [ ]:
# Accept marks from the user
english = float(input("Enter English marks: "))
math = float(input("Enter Math marks: "))
science = float(input("Enter Science marks: "))
social_studies = float(input("Enter Social Studies marks: "))

if english > 80 and math > 80 and science > 80 and social_studies > 80:
    stream = "Science"
elif english > 80 and math > 50 and science > 50:
    stream = "Commerce"
elif english > 80 and social_studies > 80:
    stream = "Humanities"
else:
    stream = "No specific stream allotted"

In [ ]:
print("Stream allotted:", stream)

Enter English marks:  87
Enter Math marks:  65
Enter Science marks:  54
Enter Social Studies marks:  82

Stream allotted: Commerce

In [ ]:
# Q8. Write a program to display "Hello" if a number entered
# by user is a multiple of five, otherwise print "Bye"?

In [24]:
number = int(input("Enter a number: "))

if number % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number:  5

Hello

In [ ]:
# Q9. Write a program to check whether the last digit of a number
# (entered by user) is divisible by 3 or not?

In [25]:
number = int(input("Enter a number: "))

last_digit = number % 10

if last_digit % 3 == 0:
    print("Yes, the last digit is divisible by 3.")
else:
    print("No, the last digit is not divisible by 3.")

Enter a number:  65

No, the last digit is not divisible by 3.

In [ ]:
# Q10. Write a program to check whether a number entered
# is three-digit number or not?

In [26]:
number = int(input("Enter a number: "))

if 100 <= number <= 999 or -999 <= number <= -100:
    print("Yes, it's a three-digit number.")
else:
    print("No, it's not a three-digit number.")

Enter a number:  43

No, it's not a three-digit number.