In [40]:
#1. After running the following code, what does the variable bacon contain?
# bacon=22
# bacon+1

In [41]:
bacon=22
# Assign the value 22 to the variable bacon contain
bacon+1
# evaluates to 23 , but does not change bacon;

23

In [43]:
bacon
# bacon contains 22

22

In [12]:
# 2.What should the values of the following two terms be?

n='spam'+'spamspam'
print(n)

spamspamspam

In [9]:
n='spam' * 3
print(n)

spamspamspam

In [ ]:
 # 3.Why is eggs a valid variable name while 100 is invalid?
# variable names stars with letters (a–z, A–Z), numbers, and underscores—which are the allowed characters.
#  100 is invalid because its just a number

In [54]:
eggs=5
# its valid because it contains 1st letter with "e"
print(eggs)

5

In [55]:
100="suman"
# its invalid because 100 is a number
print(100)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1540591047.py, line 1)

In [ ]:
# 4. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
# *
# 'hello'
# -87.8
# -
# /
# +
# 6

In [15]:
name= 2*3
# its an expression
print(type(name))

<class 'int'>

In [16]:
name='hello'
# its a value
type(name)

str

In [17]:
name=-87.8
# its a value
type(name)

float

In [18]:
name=7-2
# its an expression
type(name)

int

In [19]:
name=7/2
# its an expression
type(name)

float

In [20]:
name=7+2
# its an expression
type(name)

int

In [21]:
name=6
# its a value
type(name)

int

In [22]:
# 5.What is the difference between string and variable?
# string is a value
name="I love coding"
type(name)

str

In [24]:
# variable is a name that store value such as string,number,float,etc.
name= "vishal"
# "name" is a variable
print(name)

vishal

In [ ]:
# 6.Describe three different data types.
# 1.Integer(int)
# 2.float(float)
# 3.boolean(bool)

In [25]:
# integer:- represnt whole numbers
name= 4+5
type(name)

int

In [26]:
# float:- represent datatype with decimal
name=465.77
type(name)

float

In [27]:
# boolean:- give True or False value
name=True
print(type(True))

<class 'bool'>

In [ ]:
# 7.What is an expression made up of? What do all expressions do?
# An expression is a combination of values, variables, operators, and functions. 
# all expression evaluates to a single value which can be number,string or bollean.

In [31]:
name="python"
# value= python $ variable=name
print(name)
type(name)

python

str

In [30]:
name= 7+3
# operator="+"
print(name)
type(name)

10

int

In [38]:
n= "rohit"
m="yadav"
print(n+m)
type(name)

rohityadav

str

In [70]:
#8.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# ans:- spam = 10 is a whole statement whereas "=" is an expression
# all expressions can be a part of statement but all statement are not expression

In [ ]:
# 9.What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
Integer int()
floating-point number float()
string str()

In [49]:
int = 45
print(type(int))

<class 'int'>

In [50]:
float= "34.67"
print(type(float))

<class 'str'>

In [63]:
str="100"
print(type(str))

<class 'str'>

In [ ]:
# 10. Why does this expression cause an error? How can you fix it? "I have eaten" + 99 +"burritos"

In [ ]:
# this is a mix-up between strings and integers which python can not allow to add directly
#  to convert the integer to a string using f- string.

In [69]:
print(f"I have eaten {99} burritos.")

I have eaten 99 burritos.